{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container">
    <h1>Tableau de bord</h1>
    <p>Bienvenue, {{ app.user.userIdentifier }} !</p>
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
</div>
{% endblock %}
