{% extends 'base.html.twig' %}

{% block title %}Modifier l'Unité{% endblock %}

{% block body %}
    <h1>Modifier l'Unité</h1>

    {{ include('unite/unite/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex mt-3">
        <a href="{{ path('app_unite_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <div class="ms-auto">
            {{ include('unite/unite/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
