{% extends 'base.html.twig' %}

{% block title %}Nouvelle Unité{% endblock %}

{% block body %}
    <h1>Créer une nouvelle unité</h1>

    {{ include('unite/unite/_form.html.twig') }}

    <a href="{{ path('app_unite_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
