###> symfony/framework-bundle ###
/.env.local
/.env.production
/.env.*.local
/config/secrets/prod/prod.*
/var/
/vendor/

/tests/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> pentatrion/vite-bundle ###
/node_modules/
###< pentatrion/vite-bundle ###
