{% extends 'base.html.twig' %}

{% block title %}Modifier le Produit{% endblock %}

{% block body %}
    <h1>Modifier le Produit</h1>

    {{ include('produit/produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex mt-3">
        <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <div class="ms-auto">
            {{ include('produit/produit/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
