{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('produit/produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
