<form method="post" action="{{ path('app_conversion_standard_delete', {'id': conversion_standard.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conversion_standard.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
