{% extends 'base.html.twig' %}

{% block title %}Modifier la Conversion Standard{% endblock %}

{% block body %}
    <h1>Modifier la Conversion Standard</h1>

    {{ include('conversion_standard/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_conversion_standard_index') }}">Retour à la liste</a>

    {{ include('conversion_standard/_delete_form.html.twig') }}
{% endblock %}
