{% extends 'base.html.twig' %}

{% block title %}Nouvelle Conversion Standard{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Conversion Standard</h1>

    {{ include('conversion_standard/_form.html.twig') }}

    <a href="{{ path('app_conversion_standard_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
