{% extends 'base.html.twig' %}

{% block title %}Modifier Type de Client{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4">Modifier le Type : {{ type_client.nom }}</h1>
                
                {{ include('type_client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </div>
{% endblock %}
