{% extends 'base.html.twig' %}

{% block title %}Nouveau Fournisseur{% endblock %}

{% block body %}
    <h1>Créer un nouveau fournisseur</h1>

    {{ include('admin/fournisseur/_form.html.twig') }}

    <a href="{{ path('app_admin_fournisseur_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
